.blogpost-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.blogpost-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.blogpost-content p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 700px;
    width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .blogpost-content {
      max-width: 300px; /* Adjust the width of each box as needed */
      width: 100%;
      text-align: justify; /* Center the text inside the box */
      border-radius: 5px;
    }
  }
