# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
python
appnope
asgiref
asttokens
backcall
bottleneck
click
comm
debugpy
decorator
django
django-cors-headers
django-environ
djangorestframework
et_xmlfile
executing
gunicorn
intel-openmp
ipykernel
ipython
jupyter_client
jupyter_core
krb5
libedit
libffi
libpq
libsodium
matplotlib-inline
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nest-asyncio
numexpr
numpy
numpy-base
openpyxl
openssl
packaging
pandas
parso
pexpect
pickleshare
pip
platformdirs
prompt-toolkit
psutil
psycopg2
ptyprocess
pure_eval
pygments
python
python-dateutil
python-dotenv
python-tzdata
pytz
pyzmq
readline
setuptools
six
sqlite
sqlparse
stack_data
tbb
tk
tornado
traitlets
tzdata
wcwidth
wheel
xz
zeromq
zlib
