# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

appnope
asgiref
asttokens
backcall
bottleneck
click
comm
debugpy
decorator
django
django-cors-headers
django-environ
djangorestframework
et_xmlfile
executing
gunicorn
intel-openmp
ipykernel
ipython
jupyter_client
jupyter_core
krb5

matplotlib-inline
mkl
mkl-service
mkl_fft
mkl_random

nest-asyncio
numexpr
numpy

openpyxl

packaging
pandas
parso
pexpect
pickleshare
pip
platformdirs
prompt-toolkit
psutil
Psycopg2-binary
ptyprocess
pure_eval
pygments

pytz
pyzmq
readline
setuptools
six

sqlparse
stack_data
tbb
tk
tornado
traitlets
tzdata
wcwidth
wheel

zeromq
zlib
